
html {
  font-family: "Cormorant Garamond", Courier, monospace;
  margin: 0;
  background-color: black;
}

body {
  margin: 0 5% 5%;
}


button {
  background-color: #77F;
  border: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.nav>* {
  margin: 0.1%;
}

li.inline {
  display: inline;
}

li.no-bullet {
  list-style-type: none;
}

.container {
  display: flex;
}

.container>div {
  flex: 1;
}

div.side {
  padding-left: 1%;
  padding-right: 1%;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

div.input {
  padding: 2%;
}

thead,
tbody {
  display: block;
}

tbody {
  height: 400px;
  overflow-y: auto;
  overflow-x: auto;
}

.centered-text {
  text-align: center;
}

.header {
  padding: 2%;
  text-align: center;
  background-color: deeppink;
  color: white;
  font-size: 24 px;
}

.nav>*>a {
  color: white;
}

.main {
  background-color: white;
  padding: 2%;
}

.centered {
  margin: auto;
}

#canvas {
  background-color: white;
  padding: auto 0;
  margin-left: auto;
  margin-right: auto;
  cursor: crosshair;
  display: block;
  border: 2px solid black;
}

input.number {
  width: 40%;
}

input.button {
  background-color: #77F;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 1% 3%;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

div.results {
  padding: 0;
}

table.results {
  border-collapse: separate;
  border-spacing: 10px 0;
}

.hovering:hover {
  box-shadow: 5px 5px#77F;
}

.small-text {
  font-size: small;
}

.footer {
  color: white;
}

.footer>*>*>a {
  color: white;
}

.tab {
  overflow: hidden;

}

.tablinks {
  width: 50%;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #99F;
}

.tab button.active {
  background-color: #77F;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.switch button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.switch button:hover {
  background-color: #99F;
}

.switch button.active {
  background-color: #77F;
}

.picture-data {
  overflow-y: scroll;
  overflow-x: scroll;
  font-family: monospace;
  font-size: 12px;
  width: 300px;
  height: 200px;
  resize: none;
}

.form-button {
  padding: 8px 8px;
}
