html {
  font-family: "Cormorant Garamond", Courier, monospace;
  margin: 0;
  background-color: black;
}

.vertical-center {
  margin: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {

}

.centered-text {
  text-align: center;
}

.main {
  background-color: white;
  padding: 2%;
}

.centered {
  margin: auto;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.hovering:hover {
  box-shadow: inset 0 0 0 3px deeppink;
}

.button {
  font-family : inherit;
  font-size: inherit;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.button:hover {
  background-color: #99F;
}

.button.active {
  background-color: #77F;
}

.submit {
    margin: auto;
}